dateparser
debugpy
feedparser
Flask
matplotlib
pandas
pandas-gbq==0.21.0
pandas_stubs
protobuf
pytz
seaborn
google-api_core
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-pubsub
azure-servicebus
azure-search-documents
azure-core
fastapi
uvicorn
openai